aiobotocore @ file:///home/conda/feedstock_root/build_artifacts/aiobotocore_1724657094215/work
aiohttp @ file:///home/conda/feedstock_root/build_artifacts/aiohttp_1713964843148/work
aiohttp-retry @ file:///home/conda/feedstock_root/build_artifacts/aiohttp-retry_1660544713664/work
aioitertools @ file:///home/conda/feedstock_root/build_artifacts/aioitertools_1663521246073/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1667935791922/work
alabaster @ file:///home/conda/feedstock_root/build_artifacts/alabaster_1704848697227/work
alembic @ file:///home/conda/feedstock_root/build_artifacts/alembic_1719471393232/work
amqp @ file:///home/conda/feedstock_root/build_artifacts/amqp_1703885206855/work
aniso8601 @ file:///home/conda/feedstock_root/build_artifacts/aniso8601_1618789466884/work
annotated-types @ file:///home/conda/feedstock_root/build_artifacts/annotated-types_1716290248287/work
antlr4-python3-runtime @ file:///home/conda/feedstock_root/build_artifacts/antlr-python-runtime-meta_1638309185939/work
appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1698341106958/work
asyncssh @ file:///home/conda/feedstock_root/build_artifacts/asyncssh_1699896622851/work
atpublic @ file:///home/conda/feedstock_root/build_artifacts/atpublic_1641909357516/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1704011227531/work
awscli @ file:///home/conda/feedstock_root/build_artifacts/awscli_1716363378274/work
awscrt @ file:///home/conda/feedstock_root/build_artifacts/awscrt_1702082781822/work
Babel @ file:///home/conda/feedstock_root/build_artifacts/babel_1702422572539/work
bcrypt @ file:///home/conda/feedstock_root/build_artifacts/bcrypt_1715971623020/work
billiard @ file:///home/conda/feedstock_root/build_artifacts/billiard_1703820048184/work
black @ file:///home/conda/feedstock_root/build_artifacts/black-recipe_1714119615394/work
blinker @ file:///home/conda/feedstock_root/build_artifacts/blinker_1715091184126/work
boto3 @ file:///home/conda/feedstock_root/build_artifacts/boto3_1719904132212/work
botocore @ file:///home/conda/feedstock_root/build_artifacts/botocore_1719972364982/work
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1695989787169/work
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1708987703938/work
celery @ file:///home/conda/feedstock_root/build_artifacts/celery_1703905883217/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1734380492396/work/certifi
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1696001724357/work
cfgv @ file:///home/conda/feedstock_root/build_artifacts/cfgv_1629909281805/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1698833585322/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1733221831880/work
click-didyoumean @ file:///home/conda/feedstock_root/build_artifacts/click-didyoumean_1711356664034/work
click-plugins==1.1.1
click-repl @ file:///home/conda/feedstock_root/build_artifacts/click-repl_1694959444233/work
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1697464713350/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
colorlog @ file:///home/conda/feedstock_root/build_artifacts/colorlog_1733258404285/work
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1710320294760/work
configobj @ file:///home/conda/feedstock_root/build_artifacts/configobj_1674244895923/work
contourpy @ file:///home/conda/feedstock_root/build_artifacts/contourpy_1712429897138/work
coverage @ file:///home/conda/feedstock_root/build_artifacts/coverage_1714846626951/work
cryptography @ file:///home/conda/feedstock_root/build_artifacts/cryptography-split_1681508576793/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1696677705766/work
debugpy @ file:///home/conda/feedstock_root/build_artifacts/debugpy_1719378645730/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
Deprecated @ file:///home/conda/feedstock_root/build_artifacts/deprecated_1685233314779/work
dictdiffer @ file:///home/conda/feedstock_root/build_artifacts/dictdiffer_1627027576828/work
diskcache @ file:///home/conda/feedstock_root/build_artifacts/diskcache_1693471346238/work
distlib @ file:///home/conda/feedstock_root/build_artifacts/distlib_1702383208639/work
distro @ file:///home/conda/feedstock_root/build_artifacts/distro_1675116244235/work
docker @ file:///home/conda/feedstock_root/build_artifacts/docker-py_1716508870406/work
docutils @ file:///home/conda/feedstock_root/build_artifacts/docutils_1666754865005/work
dpath @ file:///home/conda/feedstock_root/build_artifacts/dpath_1718243458415/work
dulwich @ file:///home/conda/feedstock_root/build_artifacts/dulwich_1713937964951/work
dvc @ file:///home/conda/feedstock_root/build_artifacts/dvc_1715671165509/work
dvc-data @ file:///home/conda/feedstock_root/build_artifacts/dvc-data_1711196619902/work
dvc-http @ file:///home/conda/feedstock_root/build_artifacts/dvc-http_1702477409069/work
dvc-objects @ file:///home/conda/feedstock_root/build_artifacts/dvc-objects_1711196231873/work
dvc-render @ file:///home/conda/feedstock_root/build_artifacts/dvc-render_1712771203578/work
dvc-s3 @ file:///home/conda/feedstock_root/build_artifacts/dvc-s3_1736267861261/work
dvc-studio-client @ file:///home/conda/feedstock_root/build_artifacts/dvc-studio-client_1719515591152/work
dvc-task @ file:///home/conda/feedstock_root/build_artifacts/dvc-task_1711373510156/work
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1643888246732/work
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1704921103267/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1698579936712/work
fabio @ file:///home/conda/feedstock_root/build_artifacts/fabio_1715990836322/work/dist/fabio-2024.4.0-cp311-cp311-linux_x86_64.whl#sha256=4abace23efdf663bb331492f6d45b1142e53998a6831a1f4c885dcfceb320ed9
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1719088281970/work
flake8 @ file:///home/conda/feedstock_root/build_artifacts/flake8_1704483779980/work
Flask @ file:///home/conda/feedstock_root/build_artifacts/flask_1712667726126/work
flatten-dict @ file:///home/conda/feedstock_root/build_artifacts/flatten-dict_1629457542349/work
flufl.lock @ file:///home/conda/feedstock_root/build_artifacts/flufl.lock_1661682505165/work
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1717209181406/work
frozenlist @ file:///home/conda/feedstock_root/build_artifacts/frozenlist_1702645450877/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1719514913127/work
funcy @ file:///home/conda/feedstock_root/build_artifacts/funcy_1680003215408/work
future @ file:///home/conda/feedstock_root/build_artifacts/future_1708610096684/work
gitdb @ file:///home/conda/feedstock_root/build_artifacts/gitdb_1697791558612/work
GitPython @ file:///home/conda/feedstock_root/build_artifacts/gitpython_1711991025291/work
Glymur @ file:///home/conda/feedstock_root/build_artifacts/glymur_1719771995841/work
grandalf @ file:///home/conda/feedstock_root/build_artifacts/grandalf_1632832336053/work
graphene @ file:///home/conda/feedstock_root/build_artifacts/graphene_1690379572063/work
graphql-core @ file:///home/conda/feedstock_root/build_artifacts/graphql-core_1663938321907/work
graphql-relay @ file:///home/conda/feedstock_root/build_artifacts/graphql-relay_1650134628625/work
greenlet @ file:///home/conda/feedstock_root/build_artifacts/greenlet_1703201578921/work
gssapi @ file:///home/conda/feedstock_root/build_artifacts/python-gssapi_1697143976337/work
gto @ file:///home/conda/feedstock_root/build_artifacts/gto_1711157984154/work
gunicorn @ file:///home/conda/feedstock_root/build_artifacts/gunicorn_1695414783979/work
h5py @ file:///home/conda/feedstock_root/build_artifacts/h5py_1728975805733/work
hdf5plugin @ file:///home/conda/feedstock_root/build_artifacts/hdf5plugin_1707465552901/work
hydra-core @ file:///home/conda/feedstock_root/build_artifacts/hydra-core_1736934708722/work
identify @ file:///home/conda/feedstock_root/build_artifacts/identify_1713672996230/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1713279365350/work
imagecodecs @ file:///home/conda/feedstock_root/build_artifacts/imagecodecs_1711242469912/work
imageio @ file:///home/conda/feedstock_root/build_artifacts/imageio_1719234999090/work
imagesize @ file:///home/conda/feedstock_root/build_artifacts/imagesize_1656939531508/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1719171233697/work
importlib_resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1711040877059/work
iniconfig @ file:///home/conda/feedstock_root/build_artifacts/iniconfig_1673103042956/work
interrogate @ file:///home/conda/feedstock_root/build_artifacts/interrogate_1736272975717/work
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/ipykernel_1708996548741/work
ipympl @ file:///home/conda/feedstock_root/build_artifacts/ipympl_1734077032919/work
ipython @ file:///home/conda/feedstock_root/build_artifacts/ipython_1698846603011/work
ipython_genutils @ file:///home/conda/feedstock_root/build_artifacts/ipython_genutils_1716278396992/work
ipywidgets @ file:///home/conda/feedstock_root/build_artifacts/ipywidgets_1716897651763/work
isort @ file:///home/conda/feedstock_root/build_artifacts/isort_1733236185843/work
iterative-telemetry @ file:///home/conda/feedstock_root/build_artifacts/iterative-telemetry_1679018892732/work
itsdangerous @ file:///home/conda/feedstock_root/build_artifacts/itsdangerous_1713372668944/work
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1696326070614/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1715127149914/work
jmespath @ file:///home/conda/feedstock_root/build_artifacts/jmespath_1655568249366/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1714665484399/work
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1716472197302/work
jupyter_core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_core_1710257359434/work
jupyterlab_widgets @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_widgets_1716891641122/work
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1695379920604/work
kombu @ file:///home/conda/feedstock_root/build_artifacts/kombu_1712847781745/work
lazy_loader @ file:///home/conda/feedstock_root/build_artifacts/lazy_loader_1712342969017/work
lightgbm @ file:///home/conda/feedstock_root/build_artifacts/liblightgbm_1728547676427/work
llvmlite==0.43.0
lxml @ file:///home/conda/feedstock_root/build_artifacts/lxml_1715598413874/work
Mako @ file:///home/conda/feedstock_root/build_artifacts/mako_1715711344987/work
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1710435156458/work
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1686175045316/work
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1706899926732/work
matplotlib @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-suite_1715976244352/work
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1713250518406/work
mccabe @ file:///home/conda/feedstock_root/build_artifacts/mccabe_1643049622439/work
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1704317613764/work
mlflow @ file:///home/conda/feedstock_root/build_artifacts/mlflow-split_1716296072642/work
mlflow-skinny @ file:///home/conda/feedstock_root/build_artifacts/mlflow-split_1716296072642/work
multidict @ file:///home/conda/feedstock_root/build_artifacts/multidict_1707040702345/work
munkres==1.1.4
mypy-extensions @ file:///home/conda/feedstock_root/build_artifacts/mypy_extensions_1675543315189/work
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1705850609492/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1712540363324/work
nodeenv @ file:///home/conda/feedstock_root/build_artifacts/nodeenv_1717585263558/work
numba @ file:///home/conda/feedstock_root/build_artifacts/numba_1718888020163/work
numexpr @ file:///home/conda/feedstock_root/build_artifacts/numexpr_1716812153765/work
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1707225376651/work/dist/numpy-1.26.4-cp311-cp311-linux_x86_64.whl#sha256=d08e1c9e5833ae7780563812aa73e2497db1ee3bd5510d3becb8aa18aa2d0c7c
numpydoc @ file:///home/conda/feedstock_root/build_artifacts/numpydoc_1721767862897/work
omegaconf @ file:///home/conda/feedstock_root/build_artifacts/omegaconf_1670575376789/work
opentelemetry-api @ file:///home/conda/feedstock_root/build_artifacts/opentelemetry-api_1676680662101/work
opentelemetry-sdk @ file:///home/conda/feedstock_root/build_artifacts/opentelemetry-sdk_1676709164054/work
opentelemetry-semantic-conventions @ file:///home/conda/feedstock_root/build_artifacts/opentelemetry-semantic-conventions_1676680479396/work
optuna @ file:///home/conda/feedstock_root/build_artifacts/optuna_1737365177243/work
orjson @ file:///home/conda/feedstock_root/build_artifacts/orjson_1719968929301/work/target/wheels/orjson-3.10.6-cp311-cp311-linux_x86_64.whl#sha256=80d5508a818ceec65fe188abf1df850618fbee246f28b4187e9f7716326888f7
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1718189413536/work
pandas @ file:///home/conda/feedstock_root/build_artifacts/pandas_1715897625506/work
paramiko @ file:///home/conda/feedstock_root/build_artifacts/paramiko_1703015906107/work
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1712320355065/work
pathlib2 @ file:///home/conda/feedstock_root/build_artifacts/pathlib2_1695464092022/work
pathspec @ file:///home/conda/feedstock_root/build_artifacts/pathspec_1702249949303/work
patsy @ file:///home/conda/feedstock_root/build_artifacts/patsy_1704469236901/work
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1706113125309/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1719903554938/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1696272223550/work
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1713667077545/work
ply @ file:///home/conda/feedstock_root/build_artifacts/ply_1712242996588/work
pre_commit @ file:///home/conda/feedstock_root/build_artifacts/pre-commit_1715432773135/work
prometheus-flask-exporter @ file:///home/conda/feedstock_root/build_artifacts/prometheus_flask_exporter_1698385049585/work
prometheus_client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1707932675456/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1677600924538/work
protobuf==4.24.4
psutil @ file:///home/conda/feedstock_root/build_artifacts/psutil_1719274586160/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
py @ file:///home/conda/feedstock_root/build_artifacts/py_1636301881863/work
pyarrow==14.0.2
pycodestyle @ file:///home/conda/feedstock_root/build_artifacts/pycodestyle_1697202867721/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1711811537435/work
pydantic @ file:///home/conda/feedstock_root/build_artifacts/pydantic_1719866985540/work
pydantic_core @ file:///home/conda/feedstock_root/build_artifacts/pydantic-core_1719498849951/work
pydot @ file:///home/conda/feedstock_root/build_artifacts/pydot_1704460740030/work
pyFAI @ file:///home/conda/feedstock_root/build_artifacts/pyfai-base_1719475076627/work/dist/pyfai-2024.5.0-cp311-cp311-linux_x86_64.whl#sha256=6471b0ef714d5877a0e8eca990ff06fea44dcc9c0dcef132d2f943b0323e01e4
pyflakes @ file:///home/conda/feedstock_root/build_artifacts/pyflakes_1704424584912/work
pygit2 @ file:///home/conda/feedstock_root/build_artifacts/pygit2_1716295909837/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1714846767233/work
pygtrie @ file:///home/conda/feedstock_root/build_artifacts/pygtrie_1658067487470/work
PyNaCl @ file:///home/conda/feedstock_root/build_artifacts/pynacl_1695544874308/work
pyopencl @ file:///home/conda/feedstock_root/build_artifacts/pyopencl_1719372815608/work
PyOpenGL @ file:///home/conda/feedstock_root/build_artifacts/pyopengl_1652285526610/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1680037383858/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1709721012883/work
PyQt5==5.15.9
PyQt5-sip==12.12.2
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
pytest @ file:///home/conda/feedstock_root/build_artifacts/pytest_1716221322529/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-dotenv @ file:///home/conda/feedstock_root/build_artifacts/python-dotenv_1733243180666/work
pytools @ file:///home/conda/feedstock_root/build_artifacts/pytools_1719695845496/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1706886791323/work
PyWavelets==1.6.0
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1695373611984/work
pyzmq @ file:///home/conda/feedstock_root/build_artifacts/pyzmq_1715024370414/work
qtconsole @ file:///home/conda/feedstock_root/build_artifacts/qtconsole-base_1714942934316/work
QtPy @ file:///home/conda/feedstock_root/build_artifacts/qtpy_1698112029416/work
querystring-parser==1.2.4
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1717057054362/work
rich @ file:///home/conda/feedstock_root/build_artifacts/rich-split_1709150387247/work/dist
ruamel.yaml @ file:///home/conda/feedstock_root/build_artifacts/ruamel.yaml_1678272991830/work
ruamel.yaml.clib @ file:///home/conda/feedstock_root/build_artifacts/ruamel.yaml.clib_1695996834452/work
s3fs @ file:///home/conda/feedstock_root/build_artifacts/s3fs_1719518013855/work
s3transfer @ file:///home/conda/feedstock_root/build_artifacts/s3transfer_1719300139436/work
scikit-image @ file:///home/conda/feedstock_root/build_artifacts/scikit-image_1697028611470/work/dist/scikit_image-0.22.0-cp311-cp311-linux_x86_64.whl#sha256=53d8b95f752df47007e9e71dd1c9805b9334e1e4791cf48e3762abb922636f04
scikit-learn @ file:///home/conda/feedstock_root/build_artifacts/scikit-learn_1716489734259/work/dist/scikit_learn-1.5.0-cp311-cp311-linux_x86_64.whl#sha256=4e4d00ec549661aa22a03bd61e339cfd7abf80e247c75a0b3a95cc04b3c04b2d
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy-split_1714794088309/work/dist/scipy-1.13.0-cp311-cp311-linux_x86_64.whl#sha256=86daab6ba132f91936d65799f99a8b41d93d4e831ca6d8203a4836826e287f8c
scmrepo @ file:///home/conda/feedstock_root/build_artifacts/scmrepo_1716205039120/work
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1733730015268/work
semver @ file:///home/conda/feedstock_root/build_artifacts/semver_1696861993140/work
shap @ file:///home/conda/feedstock_root/build_artifacts/shap_1715196663651/work
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1698144360966/work
shortuuid @ file:///home/conda/feedstock_root/build_artifacts/shortuuid_1710251434066/work
shtab @ file:///home/conda/feedstock_root/build_artifacts/shtab_1709842379479/work
silx @ file:///home/conda/feedstock_root/build_artifacts/silx-split_1714487161532/work
sip @ file:///home/conda/feedstock_root/build_artifacts/sip_1697300428897/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
slicer @ file:///home/conda/feedstock_root/build_artifacts/slicer_1710029110974/work
smmap @ file:///home/conda/feedstock_root/build_artifacts/smmap_1634310307496/work
snowballstemmer @ file:///home/conda/feedstock_root/build_artifacts/snowballstemmer_1637143057757/work
Sphinx @ file:///home/conda/feedstock_root/build_artifacts/sphinx_1713554891974/work
sphinxcontrib-applehelp @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-applehelp_1705126298355/work
sphinxcontrib-devhelp @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-devhelp_1705126010477/work
sphinxcontrib-htmlhelp @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-htmlhelp_1705118152391/work
sphinxcontrib-jsmath @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-jsmath_1691604704163/work
sphinxcontrib-qthelp @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-qthelp_1705126152907/work
sphinxcontrib-serializinghtml @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-serializinghtml_1705118225549/work
SQLAlchemy @ file:///home/conda/feedstock_root/build_artifacts/sqlalchemy_1718781174813/work
sqlparse @ file:///home/conda/feedstock_root/build_artifacts/sqlparse_1715013953229/work
sqltrie @ file:///home/conda/feedstock_root/build_artifacts/sqltrie_1703214333757/work
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1669632077133/work
statsmodels @ file:///home/conda/feedstock_root/build_artifacts/statsmodels_1715941217475/work
tabulate @ file:///home/conda/feedstock_root/build_artifacts/tabulate_1665138452165/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1714400101435/work
tifffile @ file:///home/conda/feedstock_root/build_artifacts/tifffile_1718963615451/work
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1604308577558/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1644342247877/work
tomlkit @ file:///home/conda/feedstock_root/build_artifacts/tomlkit_1715185399719/work
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1717722848697/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1714854870413/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1713535121073/work
typer==0.12.3
typer-slim==0.12.3
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1717802530399/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1707747584337/work
ukkonen @ file:///home/conda/feedstock_root/build_artifacts/ukkonen_1695549358770/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1718728347128/work
vine @ file:///home/conda/feedstock_root/build_artifacts/vine_1699264759755/work
virtualenv @ file:///home/conda/feedstock_root/build_artifacts/virtualenv_1719150776503/work
voluptuous @ file:///home/conda/feedstock_root/build_artifacts/voluptuous_1719965106960/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1704731205417/work
websocket-client @ file:///home/conda/feedstock_root/build_artifacts/websocket-client_1713923384721/work
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1715000201436/work
widgetsnbextension @ file:///home/conda/feedstock_root/build_artifacts/widgetsnbextension_1716891659446/work
wrapt @ file:///home/conda/feedstock_root/build_artifacts/wrapt_1699532786512/work
xgboost @ file:///D:/bld/xgboost-split_1713397764293/work/python-package
-e git+ssh://git@github.com/Eos-Dx/xrd-analysis.git@8b04d3947abffa654ba6d9d406ef0f27d430411a#egg=xrdanalysis
yarl @ file:///home/conda/feedstock_root/build_artifacts/yarl_1705508295175/work
zc.lockfile @ file:///home/conda/feedstock_root/build_artifacts/zc.lockfile_1678092336663/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1718013267051/work
